.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ejp-rd-base.*
src/ontology/ejp-rd-full.*
src/ontology/ejp-rd.json
src/ontology/ejp-rd-base.*
src/ontology/ejp-rd-basic.*
src/ontology/ejp-rd-full.*
src/ontology/ejp-rd-simple.*
src/ontology/ejp-rd-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns
*.tmp.obo
*.tmp.owl
/imports
src/ontology/imports/*.json
src/ontology/imports/*.obo
src/ontology/imports/*_terms.txt
